@import 'base/fonts';
@import 'base/globals';

@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/variables';

@import 'libs/libs';
@import '../components/components';
@import '../views/pages/index';

.main_container {
  width: (1221px);
  margin: 0 auto;
  box-sizing: border-box;

  color: #000000;
  background-color: #ffffff;


  @media (max-width: 1919px) {
    //for 1919...1440...769
    width: 738px;
  }

  @media (max-width: 768px) {
    //for 768...320
    width: 290px
  }





  //main style for h2
  .main_h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 63px;
    position: relative;

    margin: 0;
    padding: 0;

    @media (max-width: 1919px) {
      //for 1919...1440...769
      font-size: 30px;
      line-height: 52px;
    }

    @media (max-width: 768px) {
      //for 768...320
      font-size: 18px;
      line-height: 37px;
    }


    &::before {
      content: ' ';
      display: block;
      border-top: 5px solid #e33e54;
      position: absolute;
      width: 74px;
      top: -9px;
    }
  }

  .main_header {
    margin: 0 auto;
    margin-bottom: 46px;
    width: 1201px;


    @media (max-width: 1919px) {
      //for 1919...1440...769
      width: 100%;
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      //for 768...320
      width: 100%;
      margin-bottom: 17px;
    }


    .main_h1 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 60px;
      line-height: 73px;

      margin: 0;
      padding: 0;
      margin-bottom: 53px;
      position: relative;


      @media (max-width: 1919px) {
        //for 1919...1440...769
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 42px;


      }

      @media (max-width: 768px) {
        //for 768...320
        font-size: 30px;
        line-height: 37px;
        margin-left: 0.5px;
        margin-bottom: 16px;
      }

    }

    .main_breadcrumb {
      width: 100%;
      display: flex;
      margin-bottom: 100px;

      @media (max-width: 1919px) {
        //for 1919...1440...769

        margin-bottom: 78px;


      }

      @media (max-width: 768px) {
        //for 768...320
        margin-bottom: 40px;
      }

      .main_breadcrumb_list {
        width: 100%;
        position: relative;

        // серые полосочки сверху и снизу
        &::before {
          content: ' ';
          display: block;
          border-top: 1px solid #e5e5e5;
          position: absolute;
          width: 100%;
          top: -13px;
        }

        &::after {
          content: ' ';
          display: block;
          border-top: 1px solid #e5e5e5;
          position: absolute;
          bottom: -18px;
          width: 100%;
        }

        // breadcrumb иконка разделения
        .breadcrumb_item+.breadcrumb_item::before {
          display: inline-block;
          content: ' ';
          height: 7px;
          width: 7px;
          margin: 0 6px 1px 4px;
          background-image: url('../../assets/images/right-arrow.svg');
          background-repeat: no-repeat;
        }

        .breadcrumb_item {
          display: inline-block;

          .breadcrumb_item_link {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */
            color: #b1b1b1;
          }

          &:last-child {
            .breadcrumb_item_link {
              color: #4c858b;
            }
          }
        }
      }
    }

    .main_description {
      width: 1218px;
      height: 90px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;

      @media (max-width: 1919px) {
        //for 1919...1440...769
        width: 735px;
        height: 150px;
        padding-left: 3px;
      }

      @media (max-width: 768px) {
        //for 768...320
        width: 289px;
        height: 260px;
        font-size: 14px;
        line-height: 26px;
        padding-left: 1px;
      }



      .main_description_companyName {
        color: #e33e54;
        font-weight: 600;
        margin-right: 4px;
      }
    }
  }

  .main_generalInfo {
    margin: 0 auto;
    width: 1201px;
    display: flex;
    margin-bottom: 44px;

    @media (max-width: 1919px) {
      //for 1919...1440...769
      width: 100%;
      margin-bottom: 65px;
      display: block;
      padding-left: 3px;
    }

    @media (max-width: 768px) {
      //for 768...320
      width: 100%;
      margin-bottom: 46px;
      display: block;
    }

    .main_h2 {
      margin-left: -2px;

      &::before {
        display: none;
      }
    }

    .main_h2_sub {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-size: 50px;
      line-height: 63px;
      text-transform: uppercase;
      color: #e33e54;

      margin: 0;
      padding: 0;
      margin-left: -2px;
      margin-top: -3px;
      margin-bottom: 40px;

      @media (max-width: 1919px) {
        //for 1919...1440...769
        font-size: 40px;
        line-height: 52px;
        margin-top: -4px;
        margin-bottom: 21px;

      }

      @media (max-width: 768px) {
        //for 768...320
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 18px;
      }


    }

    .main_benefits {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      width: 513px;
      margin-left: 30px;

      @media (max-width: 1919px) {
        //for 1919...1440...769
        font-size: 16px;
        line-height: 24px;
        width: 100%;

      }

      @media (max-width: 768px) {
        //for 768...320
        font-size: 14px;
        line-height: 24px;
        width: 93%;

        margin-left: 16px;


      }


      .main_benefits_item {
        margin-left: 24px;
        margin-bottom: 24px;
        display: block;
        position: relative;

        &::before {
          content: ' ';
          position: absolute;
          left: -26px;
          top: 8px;
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: #ea6628;
          line-height: inherit;
        }

        &:nth-child(5)::before,
        &:nth-child(6)::before,
        &:nth-child(7)::before {
          top: 9px;
        }
      }
    }

    .main_aside_images {
      position: relative;
      height: 601px;
      width: 630px;

      @media (max-width: 1919px) {
        //for 1919...1440...769
        display: none;
      }

      @media (max-width: 768px) {
        //for 768...320
        display: none;
      }

      img {
        position: absolute;

        @media (max-width: 1919px) {
          //for 1919...1440...769
          display: none;
        }

        @media (max-width: 768px) {
          //for 768...320
          display: none;
        }
      }

      .main_aside_image_blob {
        top: -2px;
        left: 44px;
        width: 766px;
        height: 541px;
      }

      .main_aside_image_truba {
        top: -30px;
        left: 223px;
      }


      .main_aside_image_triangle {
        left: 62px;
        top: 146px;
      }

      .main_aside_image_triangle2 {
        right: -178px;
        top: 53px;
      }

      .main_aside_image_dots,
      .main_aside_image_dots2 {
        width: 37px;
        height: 150px;
      }

      .main_aside_image_dots {
        top: 2px;
        left: 189px;
      }

      .main_aside_image_dots2 {
        bottom: 28px;
        right: -119px;
      }
    }
  }

  .main_process {
    margin: 0 auto;
    width: 1201px;
    margin-bottom: 44px;

    @media (max-width: 1919px) {
      //for 1919...1440...769
      width: 100%;
      margin-bottom: 46px;
    }

    @media (max-width: 768px) {
      //for 768...320
      width: 100%;
      margin-bottom: 30px;

    }

    .main_h2 {
      margin-bottom: 73px;

      @media (max-width: 1919px) {
        //for 1919...1440...769
        margin-left: -2px;
        margin-bottom: 40px;
      }

      @media (max-width: 768px) {
        //for 768...320
        margin-bottom: 10px;

      }
    }

    .main_process_list {
      display: flex;
      flex-direction: column;
      gap: 33px;
      height: 303px;
      flex-wrap: wrap;

      list-style-type: none;
      counter-reset: num;
      margin: 0 0 0 71px;

      @media (max-width: 1919px) {
        //for 1919...1440...769
        height: 250px;
        gap: 5px;
        margin: 0 0 0 40px;
      }

      @media (max-width: 768px) {
        //for 768...320
        height: auto;
        gap: 0px;
        margin: 0 0 0 47px;
      }
    }

    .main_process_item {
      width: 526px;
      height: 60px;
      margin-right: 70px;

      position: relative;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;


      @media (max-width: 1919px) {
        //for 1919...1440...769
        font-size: 14px;
        line-height: 26px;
        width: 307px;
        height: 78px;

        margin-right: 80px;
      }

      @media (max-width: 768px) {
        //for 768...320
        width: 240px;
        // height: 104px;

      }



      &::before {
        content: counter(num);
        counter-increment: num;
        display: inline-block;
        position: absolute;
        top: -28px;
        left: -70px;
        width: 50px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 85px;
        color: #e33e54;
        opacity: 0.2;

        @media (max-width: 1919px) {
          //for 1919...1440...769
          font-size: 50px;
          line-height: 61px;
          left: -40px;
          top: -18px;
        }

        @media (max-width: 768px) {
          //for 768...320

        }

      }

      &:nth-child(2) {
        @media (max-width: 1919px) {
          //for 1919...1440...769
          top: -14px
        }

        @media (max-width: 768px) {
          //for 768...320

        }

        &::before {
          top: -26px;

          @media (max-width: 1919px) {
            //for 1919...1440...769
            top: -18px
          }

          @media (max-width: 768px) {
            //for 768...320

          }
        }
      }

      &:nth-child(3) {
        margin-top: -10px;

        @media (max-width: 768px) {
          //for 768...320
          margin-top: -30px;
        }

        &::before {
          top: -11px;

          @media (max-width: 1919px) {
            //for 1919...1440...769
            top: -7px
          }

          @media (max-width: 768px) {
            //for 768...320

          }
        }
      }

      &:nth-child(4) {
        @media (max-width: 1919px) {
          //for 1919...1440...769


          top: -12px;
        }

        @media (max-width: 768px) {
          //for 768...320
          top: 0;
          margin-top: 40px;
        }

        &::before {
          left: -78px;
          top: -27px;

          @media (max-width: 1919px) {
            //for 1919...1440...769

            left: -48px;
            top: -6px;
          }

          @media (max-width: 768px) {
            //for 768...320

          }
        }
      }

      &:nth-child(5) {
        margin-top: -8px;


        @media (max-width: 1919px) {
          //for 1919...1440...769


          margin-top: -22px;
        }

        @media (max-width: 768px) {
          //for 768...320
          margin-top: -10px;
        }

        &::before {
          top: -17px;
          left: -78px;

          @media (max-width: 1919px) {
            //for 1919...1440...769

            left: -46px;
            top: -9px;
          }

          @media (max-width: 768px) {
            //for 768...320

          }
        }
      }

      &:nth-child(6) {
        margin-top: 12px;

        @media (max-width: 768px) {
          //for 768...320
          margin-top: 42px;
        }

        &::before {
          top: -24px;
          left: -78px;

          @media (max-width: 1919px) {
            //for 1919...1440...769

            left: -46px;
            top: -9px;
          }

          @media (max-width: 768px) {
            //for 768...320

          }
        }
      }
    }
  }

  .main_preference {
    margin: 0 auto;
    width: 1201px;
    margin-bottom: 99px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */

    @media (max-width: 1919px) {
      //for 1919...1440...769
      width: 100%;
      margin-bottom: 23px;
    }

    @media (max-width: 768px) {
      //for 768...320
      width: 100%;
      margin-bottom: 27px;

      font-size: 14px;
      line-height: 26px;
    }

    .main_h2 {
      margin-bottom: 44px;


      @media (max-width: 1919px) {
        //for 1919...1440...769
        margin-bottom: 30px;
      }

      @media (max-width: 768px) {
        //for 768...320
        margin-bottom: 22px;

      }
    }

    .main_preference_text {
      margin-left: 3px;
      margin-bottom: 50px;

      @media (max-width: 1919px) {
        //for 1919...1440...769
        margin-left: 1px;
      }

      @media (max-width: 768px) {
        //for 768...320
        margin-bottom: 22px;
      }

    }

    .main_preference_list {
      display: flex;
      justify-content: space-between;
      gap: 30px;

      @media (max-width: 1919px) {
        //for 1919...1440...769
        flex-wrap: wrap;
        justify-content: space-around;
        width: 739px;
        gap: 0;
      }

      @media (max-width: 768px) {
        //for 768...320
        flex-wrap: wrap;
        justify-content: space-between;
        width: 290px;
      }

      .list_item {
        min-width: 386px;
        width: 386px;
        height: 241px;

        @media (max-width: 1919px) {
          //for 1919...1440...769
          min-width: 354px;
          width: 354px;
          text-align: center;
        }

        @media (max-width: 768px) {
          //for 768...320
          min-width: 289px;
          width: 289px;
          height: 231px;
        }


        img {
          width: 79px;
          height: auto;
          margin-bottom: 22px;

          @media (max-width: 1919px) {
            //for 1919...1440...769
            margin-bottom: 17px;
          }

          @media (max-width: 768px) {
            //for 768...320
            margin-bottom: 10px;
          }
        }

        &:first-child {
          img {
            margin-left: 1px;

            @media (max-width: 1919px) {
              //for 1919...1440...769
              margin-left: 0px;
            }

            @media (max-width: 768px) {
              //for 768...320
              margin-left: 1px;
            }
          }
        }

        &:nth-child(2) {
          img {
            margin-top: -1px;
            margin-left: 1px;
            width: 78px;
            margin-bottom: 24px;

            @media (max-width: 1919px) {
              //for 1919...1440...769
              margin-top: 2px;
              margin-left: -1px;
              margin-bottom: 16px;
            }

            @media (max-width: 768px) {
              //for 768...320
              margin-bottom: 12px;
            }
          }
        }

        &:nth-child(3) {
          img {
            margin-top: 2px;
            width: 77px;

            @media (max-width: 1919px) {
              //for 1919...1440...769
              margin-bottom: 15px;
            }

            @media (max-width: 768px) {
              //for 768...320
              margin-top: 11px;
              margin-bottom: 10px;
            }

          }
        }

        h3 {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 30px;

          margin: 0;
          padding: 0;
          margin-bottom: 11px;


          @media (max-width: 1919px) {
            //for 1919...1440...769
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 0px;
          }

          @media (max-width: 768px) {
            //for 768...320
            font-size: 18px;
            line-height: 30px;
          }
        }

        div {
          margin: 0;
          padding: 0;

          p {
            margin: 0;
            padding: 0;
            display: inline;

            @media (max-width: 1919px) {
              //for 1919...1440...769
              font-size: 14px;
              line-height: 26px;
            }

            @media (max-width: 768px) {
              //for 768...320
              font-size: 14px;
              line-height: 26px;
            }
          }

          span {
            color: #E33E54;
            font-weight: 600;
            display: inline;
          }

        }

      }
    }
  }

  .main_consulting {
    margin: 0 auto;
    width: 1201px;
    margin-bottom: 117px;


    @media (max-width: 1919px) {
      //for 1919...1440...769
      width: 100%;
      margin-bottom: 67px;
    }

    @media (max-width: 768px) {
      //for 768...320
      width: 100%;
      margin-bottom: 64px;

    }

    .main_h2 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-size: 50px;
      line-height: 40px;

      margin: 0;
      padding: 0;

      text-align: center;
      margin-left: 18px;
      margin-bottom: 17px;
      text-transform: uppercase;


      @media (max-width: 1919px) {
        //for 1919...1440...769
        font-size: 40px;
        line-height: 30px;
        width: 100%;
        margin-left: 12px;
        margin-bottom: 9px;
      }

      @media (max-width: 768px) {
        //for 768...320
        font-size: 22px;
        line-height: 30px;
        margin-left: 0;
        margin-bottom: 0;
      }


      &::before {
        display: none;
      }
    }

    .main_consulting_description {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;

      margin: 0;
      padding: 0;
      letter-spacing: -0.2px;

      text-align: center;
      margin-left: 18px;
      margin-bottom: 39px;


      @media (max-width: 1919px) {
        //for 1919...1440...769
        font-size: 16px;
        line-height: 30px;
        margin-left: 0px;
        margin-bottom: 28px;
      }

      @media (max-width: 768px) {
        //for 768...320
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 21px;
      }
    }

    .socialNetworks {
      fill: #ea6628;
      width: 203px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding-left: 14px;

      margin-bottom: 32px;

      @media (max-width: 1919px) {
        //for 1919...1440...769
        padding-left: 0px;
        margin-bottom: 29px;
      }

      @media (max-width: 768px) {
        //for 768...320
        padding-left: 3px;
        margin-bottom: 47px;
      }

      li {
        &:first-child {
          img {
            width: 22.5px;
            height: auto;
            margin-top: -0.5px;
          }

        }

        &:nth-child(2) {
          img {
            width: 22px;
            height: auto;
            margin-left: -7px;
            margin-top: -0.5px;

          }
        }

        &:nth-child(3) {
          img {
            width: 18px;
            height: auto;
            margin-left: -2px;
          }
        }

        &:last-child {
          img {
            width: 18px;
            height: auto;
          }
        }
      }
    }

    .main_consulting_form {
      display: block;
      width: 866px;
      height: 260px;
      padding-top: 57px;
      padding-left: 59px;
      margin: 0 auto;
      margin-left: 175px;
      box-sizing: border-box;
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);


      @media (max-width: 1919px) {
        //for 1919...1440...769
        width: 738px;
        height: 390px;
        margin: 0 auto;
        padding: 0;
        padding-top: 50px;
        padding-left: 9px;
      }

      @media (max-width: 768px) {
        //for 768...320
        width: 290px;
        height: 320px;
        padding: 0;
        margin: 0 auto;
        box-shadow: none;
      }


      .main_consulting_form_h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;

        padding: 0;
        margin: 0;

        margin-bottom: 13px;

        @media (max-width: 1919px) {
          //for 1919...1440...769
          text-align: center;
          margin-bottom: 12px;
        }

        @media (max-width: 768px) {
          //for 768...320
          text-align: center;
          font-size: 18px;
          line-height: 26px;
        }

        .color_orange {
          color: #ea6628;
          font-weight: 600;

          letter-spacing: 0.26px;
        }
      }

      .main_consulting_form_text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;

        padding: 0;
        margin: 0;

        margin: 0 auto;
        margin-bottom: 21px;

        @media (max-width: 1919px) {
          //for 1919...1440...769
          text-align: center;
        }

        @media (max-width: 768px) {
          //for 768...320
          text-align: center;
          font-size: 14px;
          line-height: 25px;
          margin-bottom: 24px;
        }
      }

      .input_container {
        display: flex;
        gap: 16px;


        @media (max-width: 1919px) {
          //for 1919...1440...769
          flex-direction: column;
          margin: 0 auto;
          width: min-content;
          padding-right: 5px;
        }

        @media (max-width: 768px) {
          //for 768...320
          flex-direction: column;
          margin: 0 auto;
          width: min-content;
        }

        

        .input_name,
        .input_phone {
          box-sizing: border-box;
          width: 240px;
          height: 56px;
          border-radius: 4px;
          padding: 15px;

          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          color: #b1b1b1;

          @media (max-width: 1919px) {
            //for 1919...1440...769
            width: 354px;

          }

          @media (max-width: 768px) {
            //for 768...320
            width: 290px;

          }
        }

        .button_submit {
          display: block;
          width: 240px;
          height: 56px;
          background: #215359;
          border-radius: 4px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          /* identical to box height */

          text-align: center;

          color: #ffffff;


          @media (max-width: 1919px) {
            //for 1919...1440...769
            width: 240px;
            margin: 0 auto;
            margin-top: 9px;

          }

          @media (max-width: 768px) {
            //for 768...320
            width: 240px;
            margin: 0 auto;
            margin-top: 7px;
          }

        }
      }
    }
  }


  .main_video {
    margin: 0 auto;
    width: 1201px;
    margin-bottom: 108px;

    @media (max-width: 1919px) {
      //for 1919...1440...769
      width: 100%;
      margin-bottom: 15px;
    }

    @media (max-width: 768px) {
      //for 768...320
      width: 100%;
      margin-bottom: 59px;

    }

    .main_h2 {
      margin-left: -3px;
      margin-bottom: 60px;

      @media (max-width: 1919px) {
        //for 1919...1440...769
        margin-left: 0px;
        margin-bottom: 26px;
      }

      @media (max-width: 768px) {
        //for 768...320
        margin-bottom: 22px;
        // margin-left:4px;
      }
    }

    p {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      width: 1218px;

      margin-bottom: 64px;



      @media (max-width: 1919px) {
        //for 1919...1440...769
        width: 100%;
        margin-left: 2px;
        margin-bottom: 30px;

      }

      @media (max-width: 768px) {
        //for 768...320
        font-size: 14px;
        line-height: 26px;
        width: 100%;
        margin-bottom: 19px;

      }
    }

    div {
      position: relative;
      height: (438px+35px);

      @media (max-width: 1919px) {
        //for 1919...1440...769
        width: 100%
      }

      @media (max-width: 768px) {
        //for 768...320
        width: 100%;
        height: 170px;
      }

      iframe {
        width: 771px;
        height: 438px;

        position: absolute;
        top: 35px;
        left: 50%;
        margin-left: -387px;
        z-index: 3;


        @media (max-width: 1919px) {
          //for 1919...1440...769
          width: 737px;
          height: 419px;

          top: 4px;
          left: 50%;
          margin-left: -367px;

        }

        @media (max-width: 768px) {
          //for 768...320
          width: 287px;
          height: 163px;
          margin-left: -143.5px;

        }



      }

      .main_video_dots {
        position: absolute;
        left: 95px;
        bottom: 85px;
        z-index: 1;


      }

      .main_video_dots2 {
        position: absolute;
        right: 90px;
        top: -14px;
        z-index: 1;
      }

      .main_video_blob {
        position: absolute;
        top: (35px+63px);
        left: 31px;
        z-index: 0;
      }

      .main_video_blob2 {
        position: absolute;
        right: 13.5px;
        top: 0px;
        z-index: 0;
        width: 630.11px;
        height: 392.06px;
      }


      .main_video_dots,
      .main_video_dots2,
      .main_video_blob,
      .main_video_blob2 {
        @media (max-width: 1919px) {
          //for 1919...1440...769
          display: none;
        }

        @media (max-width: 768px) {
          //for 768...320


        }
      }
    }
  }

  .main_photo {
    margin: 0 auto;
    width: 1221px;
    margin-bottom: 122px;

    @media (max-width: 1919px) {
      //for 1919...1440...769
      width: 100%;
      margin-bottom: 44px;
    }

    @media (max-width: 768px) {
      //for 768...320
      width: 100%;
      margin-bottom: 47px;

    }

    .main_h2 {
      margin-left: 7px;
      margin-bottom: 60px;

      @media (max-width: 1919px) {
        //for 1919...1440...769
        margin-left: 0px;
        margin-bottom: 27px;
      }

      @media (max-width: 768px) {
        //for 768...320
        margin-bottom: 12px;

      }
    }

    .main_photo_text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;

      width: 1218px;
      margin-left: 10px;
      margin-bottom: 41px;


      @media (max-width: 1919px) {
        //for 1919...1440...769
        width: 100%;
        margin-left: 2px;
        margin-bottom: 31px;
      }

      @media (max-width: 768px) {
        //for 768...320
        width: 100%;
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 11px;

      }
    }

    .photo_list {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      width: 1241px;
      gap: 10px;


      @media (max-width: 1919px) {
        //for 1919...1440...769
        width: 100%;
        width: 759px;
        gap: 14px;
        margin-left: -8px;
      }

      @media (max-width: 768px) {
        //for 768...320
        width: 100%;
        width: 320px;
        gap: 8px;
        margin-left: -5px;


      }

      li {
        position: relative;

        @media (max-width: 768px) {
          //for 768...320
          margin-right: 9px;

        }


        &:before,
        &:after {
          content: ' ';
          width: 46px;
          height: 46px;
          z-index: 1;
        }

        &:before {

          border-top: 4px solid #4c858b;
          border-right: 4px solid #4c858b;
          position: absolute;
          top: 6px;
          right: 10px;

          @media (max-width: 1919px) {
            //for 1919...1440...769
            top: 5px;
            right: 7px;
          }

          @media (max-width: 768px) {
            //for 768...320
            top: 2px;
            right: 4px;

          }
        }

        &:after {

          border-bottom: 4px solid #4c858b;
          border-left: 4px solid #4c858b;
          position: absolute;
          bottom: 14.5px;
          left: 10px;

          @media (max-width: 1919px) {
            //for 1919...1440...769
            bottom: 10px;
            left: 8px;
          }

          @media (max-width: 768px) {
            //for 768...320
            bottom: 6px;
            left: 4px;

          }
        }

        img {
          width: 302px;
          height: auto; // height: 260px;
          margin-bottom: -4px;
          filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.15));


          @media (max-width: 1919px) {
            //for 1919...1440...769
            width: 242px;
            // height: 208px;
          }

          @media (max-width: 768px) {
            //for 768...320
            width: 142px;
            height: 129px;

          }
        }
      }
    }
  }
}