block header
    header.header
        div.header_container
            img(src="../../assets/images/header/Logo.png", alt="logo").header_logo
            div.header_content_container
                div.menu-btn
                    span 
                    span  
                    span  
 
                
                nav.header_menu 
                    ul.header_navLinks
                        for i in navLinks
                            li.header_navLinks_item
                                a(href='#')=i.name
                
                a(href="tel:+78125092198").header_telephoneNumber +7 (812) #[span 509 21 98] 
                
                a(href="#").header_callBack перезвоните мне
                
                include ../../components/socials/socials


                ul.header_buttons
                    for i in buttons
                            li 
                                a(href='#')
                                    img(src=("../../"+i.src), alt=i.name)