block socials-orange
    ul.socialNetworks
        for i in socialNetworks
            li 
                a(href='#')
                    img(src=("../../"+i.src_orange), alt=i.name)


                        
